data/**
!data/
!data/codec_run/
!data/codec_run/.gitkeep
!data/CodecTrainCfg/
!data/CodecTrainCfg/.gitkeep
!data/dataset/
!data/dataset/.gitkeep
!data/logs/
!data/logs/.gitkeep
!data/partition/
!data/partition/.gitkeep
!data/video/
!data/video/.gitkeep
network/checkpoints/
network/logs/
network/output/
__pycache__/
*.pyc
.vscode/