data/**
!data/README.md
!data/
!data/codec_run/
!data/codec_run/.gitkeep
!data/CodecTrainCfg/
!data/CodecTrainCfg/.gitkeep
!data/dataset/
!data/dataset/.gitkeep
!data/partition/
!data/partition/.gitkeep
!data/video/
!data/video/.gitkeep
network/output/**
!network/output/.gitkeep
network/figures/**
!network/figures/.gitkeep
__pycache__/
*.pyc
.vscode/
AGENTS.md
/build/
network/script/**
!network/script/.gitkeep
docs/**
/VVCSoftware_VTM/build/
/VVCSoftware_VTM/bin/
/VVCSoftware_VTM/lib/
/VVCSoftware_VTM/deps/
